<div *ngIf="loggedin">
<div id="icon"></div>
<div id="dmantz">
  <h1>DMANTZ</h1>
</div>

<div id="id">
<form [formGroup]="loginForm" (submit)="checkLoginDetails()">
  <label id="email_label">EMAIL:</label>
  <input type="text" formControlName="email" id="email_box">
  <div *ngIf="loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)||(loginForm.submitted)"
       class="alert alert-danger">
  <p [hidden]="!loginForm.controls['email'].hasError('required')" id="error_mail">email is mandatory</p>
  <p [hidden]="!loginForm.controls['email'].hasError('pattern')" id="error_mail">enter valid email</p>
  {{error}}
  </div>

  <label id="password_label">PASSWORD:</label>
  <input type="password" formControlName="password" id="password_box">
  <div *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
       class="alert alert-danger">
    <p [hidden]="!loginForm.controls['password'].hasError('required')" id="error_password">password is mandatory</p>
    <p [hidden]="!loginForm.controls['password'].hasError('pattern')" id="error_password">enter valid password</p>

  </div>

  <button type="submit" id="submit" [disabled]="!loginForm.valid">Login</button>

</form>
  <label id="label_rememberMe">Remember me</label>
  <input type="checkbox" id="checkbox" (click)="CheckedBox()">
  <a href="" id="forgot" (click)="ForgotPassword()">Forgot Password</a>
  <label id="label_newuser">New User:</label>
  <button id="register" (click)="Register()">NEW USER</button>
</div>
</div>
<!--
<div id="register_div">
  <form [formGroup]="registerForm" (submit)="RegisterDetails()">
    <label id="firstname_label">FIRSTNAME</label>
    <input type="text" formControlName="firstname">
    <label id="lastname_label">LASTNAME</label>
    <input type="text" formControlName="lastname">
    <label id="regemail_label">EMAIL:</label>
    <input type="text" formControlName="email">
    <label id="reg_password_label">PASSWORD:</label>
    <input type="password" formControlName="password">
    <label id="dob">DOB:</label>
    <select id="year">
      <option>1990</option>
      <option>1991</option>
      <option>1992</option>
      <option>1993</option>
      <option>1994</option>
      <option>1995</option>
      <option>1996</option>
      <option>1997</option>
      <option>1998</option>
      <option>1999</option>
      <option>2000</option>
    </select>
    <select id="month">
      <option>January</option>
      <option>Febraury</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
<select id="date">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10</option>
</select>
    <input type="text">
    Enter Captcha:<input type="text">
    <button type="submit" id="register1">Register</button>
  </form>
</div>
-->




<!--
<div id="div_dmantz_icon">

  </div>

  <div id="div_dmantz_text" class="nm-label">
    <h1 id="dmantz_text">
      DMANTZ<br/>
    </h1>
  </div>
  <form id="form" role="form">

    <div id="div_email_text" class="nm-label">
        <span id="email_text">
            Email<br/>
        </span>
    </div>

    <div id="div_password_text" class="nm-label">
        <span id="password_text">
            Password<br/>
        </span>
    </div>
    <input type="text" id="inputbox_email" placeholder="Email" class="form-control" />
    <input type="text" id="inputbox_password" placeholder="Password" class="form-control" />
    <div class="checkbox" id="div_rememberMe">
      <label id="label_rememberMe">
        <input type="checkbox" checked />Remember me
      </label>
    </div>
    <button id="login" class="btn btn-default">
      Login

    </button>

    <div id="div_register" class="nm-label">
      <a id="link_register" href="#">
        Register<br/>
      </a>
    </div>

    <div id="div_newUser" class="nm-label">
        <span id="newUser_text">
            New User:<br/>
        </span>
    </div>

    <div id="div_forgotPassword" class="nm-label">
      <a id="link_forgotPassword" href="#">
        Forgot Password<br/>
      </a>
    </div>
    <button id="reset" class="btn btn-default">
      RESET

    </button>
  </form>
-->
