<div *ngIf="sess">

<div id="welcome">
  <div id="userlogin">
    <img src="./app/images/userlogin.jpg">
  </div>
  <div id="profileoptions">
    <button id="logout" (click)="Logout()">Logout</button>
    <button id="profileupdate">Profile Update</button>
    <button id="profileupdate1">Profile Update</button>
  </div>
</div>

<div id="div_Search">
  <input type="text" id="search_text" placeholder="Search input" class="fmorm-control" />
  <button id="Search_button" class="btn btn-default">Search</button>
</div>

<div class="tab">
  <button id="mywork" (click)="mywork()" [style.background-color]="getbackgroundMywork()">MYWORK</button>
<div id="toolsdiv">
  <button id="tools" (click)="tools()" [style.background-color]="getbackgroundTools()" value="TOOLS">TOOLS</button>
<div class="toolsDropdown">
  <button id="topicstore" (click)="topicstoreSelected();" value="TopicStore">TopicStore</button>
  <button id="projectstore" (click)="projectstoreSelected();" value="ProjectStore">ProjectStore</button>
</div>
</div>
</div>

</div>

<router-outlet></router-outlet>
