#welcome
{
  position: absolute;
  right:60px;
  opacity:1;
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  text-align:center;
  font-family:Times New Roman;
  background-color: #0088cc;
  color:rgba(230,14,68,1);
  overflow:visible;
  white-space:nowrap;
}
#profileoptions{
  display: none;
  position: absolute;
  height: 60px;
  left:1%;
  top:100%;
  overflow: hidden;
  border: 1px solid #ccc;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color:white;
}
#profileoptions button{
  color: black;
  width: 100%;
  height: 30%;
  display: block;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 14px;
}
#profileoptions button:hover{
  background-color: #ddd;
}
#welcome:hover #profileoptions{
  display: block;
}
#div_Search
{
  position: absolute;
  width:350px;
  height:30px;
  left:45%;
  top:11%;
  opacity:1;
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  border-width:1px;
  padding-left:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  border-bottom-left-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-bottom-left-radius:0px;
  -ms-border-bottom-left-radius:0px;
  -o-border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-bottom-right-radius:0px;
  -ms-border-bottom-right-radius:0px;
  -o-border-bottom-right-radius:0px;
  border-top-left-radius:0px;
  -webkit-border-top-left-radius:0px;
  -moz-border-top-left-radius:0px;
  -ms-border-top-left-radius:0px;
  -o-border-top-left-radius:0px;
  border-top-right-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-top-right-radius:0px;
  -ms-border-top-right-radius:0px;
  -o-border-top-right-radius:0px;
  overflow:visible;

}

#search_text
{
  width:290px;
  height:30px;
  opacity:1;
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  border-width:1px;
  padding-left:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  border-bottom-left-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -moz-border-bottom-left-radius:15px;
  -ms-border-bottom-left-radius:15px;
  -o-border-bottom-left-radius:15px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-bottom-right-radius:0px;
  -ms-border-bottom-right-radius:0px;
  -o-border-bottom-right-radius:0px;
  border-top-left-radius:15px;
  -webkit-border-top-left-radius:15px;
  -moz-border-top-left-radius:15px;
  -ms-border-top-left-radius:15px;
  -o-border-top-left-radius:15px;
  border-top-right-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-top-right-radius:0px;
  -ms-border-top-right-radius:0px;
  -o-border-top-right-radius:0px;
  overflow:hidden;
  background:#fff;
  border-color:#686868;
  border-style:solid;
  font-family:Times New Roman;
  font-size:17px;
  color:#515151;
  line-height:52px;

}

#Search_button
{
  position: absolute;
  width:47px;
  height:32px;
  left:280px;

  opacity:1;
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  border-width:1px;
  padding-left:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:2px;
  border-bottom-left-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-bottom-left-radius:0px;
  -ms-border-bottom-left-radius:0px;
  -o-border-bottom-left-radius:0px;
  border-bottom-right-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  -moz-border-bottom-right-radius:15px;
  -ms-border-bottom-right-radius:15px;
  -o-border-bottom-right-radius:15px;
  border-top-left-radius:0px;
  -webkit-border-top-left-radius:0px;
  -moz-border-top-left-radius:0px;
  -ms-border-top-left-radius:0px;
  -o-border-top-left-radius:0px;
  border-top-right-radius:15px;
  -webkit-border-top-right-radius:15px;
  -moz-border-top-right-radius:15px;
  -ms-border-top-right-radius:15px;
  -o-border-top-right-radius:15px;
  overflow:hidden;
  border-color:#686868;
  border-style:solid;
  background:rgba(0,136,204,1);
  font-family:Times New Roman;
  font-size:17px;
  color:rgba(255,255,255,1);
  line-height:0px;

}
.tab {
  position: absolute;
  height: 30px;
  width:20%;
  left:20%;
  top:11%;
  overflow: hidden;
  border: 1px solid #ccc;
  background:rgba(153,55,153,1);
}
.tab button {
  background-color: gray;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  width: 50%;
  text-align: center;
  height: 100%;
  color: white;
}
